@if (this.inventoryService.isInventoryLoaded()) {
  <p-table
    class="table-container"
    [value]="this.inventoryService.specimens()"
    dataKey="id"
    scrollable="true"
    scrollHeight="flex"
    [virtualScroll]="true"
    [virtualScrollItemSize]="46"
    resizableColumns="true"
    stripedRows
    showGridlines>
    <ng-template #header>
      <tr>
        <th class="column-head">
          <p-checkbox [ngModel]="this.inventoryService.isAllSpecimensSelected()" binary="true" (onChange)="this.inventoryService.toggleAllSpecimen()"/>
        </th>
        @for (column of this.inventoryService.columns(); track column.position) {
          <th class="column-head">{{ column.displayName }}</th>
        }
      </tr>
    </ng-template>
    <ng-template #body let-specimen>
      <tr>
        <td>
          <p-checkbox [ngModel]="specimen.selected" binary="true"
                      (onChange)="this.inventoryService.toggleSpecimenSelection(specimen.id)"/>
        </td>
        @for (column of this.inventoryService.columns(); track column.position) {
          <td>{{ specimen.data[column.jsonName] }}</td>
        }
      </tr>
    </ng-template>
  </p-table>
}
