@if (this.inventoryService.isInventoryLoaded()) {
  <p-table
    class="table-container"
    [value]="this.inventoryService.specimens()"
    dataKey="id"
    scrollable="true"
    scrollHeight="flex"
    [virtualScroll]="true"
    [virtualScrollItemSize]="46"
    resizableColumns="true"
    stripedRows
    showGridlines>
    <ng-template #header>
      <tr>
        <th class="column-head">
          <p-checkbox [ngModel]="this.inventoryService.isAllSpecimensSelected()" binary="true"
                      (onChange)="this.inventoryService.toggleAllSpecimen()"/>
        </th>
        <th class="column-head">n°</th>
        <th class="column-head">Embranchement</th>
        <th class="column-head">Classe</th>
        <th class="column-head">Ordre</th>
        <th class="column-head">Famille</th>
        <th class="column-head">Genre</th>
        <th class="column-head">espèce</th>
        <th class="column-head">Auteur</th>
        <th class="column-head">Pays</th>
        <th class="column-head">Région</th>
        <th class="column-head">Localité</th>
        <th class="column-head">Âge</th>
        <th class="column-head">Lithostratigraphie</th>
      </tr>
    </ng-template>
    <ng-template #body let-specimen>
      <tr>
        <td>
          <p-checkbox [ngModel]="specimen.selected" binary="true"
                      (onChange)="this.inventoryService.toggleSpecimenSelection(specimen.id)"/>
        </td>
        <td><b>{{ specimen.number }}</b></td>
        <td>{{ specimen.phylum }}</td>
        <td>{{ specimen.class }}</td>
        <td>{{ specimen.order }}</td>
        <td>{{ specimen.family }}</td>
        <td><i>{{ specimen.genus }}</i></td>
        <td><i>{{ specimen.species }}</i></td>
        <td>{{ specimen.author }}</td>
        <td>{{ specimen.country }}</td>
        <td>{{ specimen.region }}</td>
        <td>{{ specimen.location }}</td>
        <td>{{ specimen.age }}</td>
        <td>{{ specimen.lithostratigraphy }}</td>
      </tr>
    </ng-template>
  </p-table>
}
