<div class="about-card">
  <p-fieldset>
    <ng-template #header>
      <div class="flex items-center gap-2 px-2">
        <i class="pi pi-tag"></i>
        <span class="font-bold">À propos</span>
      </div>
    </ng-template>
    <p>
      Lithographe est une application web de création d'étiquettes pour collections muséales. L'inventaire doit être importé à partir d'un fichier
      CSV. Toutes les données sont sauvegardées dans le stockage interne de votre navigateur et l'application fonctionne entièrement en local.
    </p>
  </p-fieldset>
</div>
<inventory-import id="inventory-import-component"/>
