@if (this.inventoryPreview()) {
  @if (!this.inventoryPreview()?.isError) {
    <p-table [value]="this.specimens()" showGridlines [scrollable]="true">
      <ng-template #header>
        <tr>
          @for (column of this.columns(); track column.position) {
            <th>{{ column.displayName }}</th>
          }
        </tr>
      </ng-template>
      <ng-template #body let-specimen>
        <tr>
          @for (column of this.columns(); track column.position) {
            <td>{{ specimen[column.jsonName] }}</td>
          }
        </tr>
      </ng-template>
    </p-table>
  } @else {
    <p-message severity="error">La lecture du fichier CSV a échouée, merci de vérifier la configuration.</p-message>
  }
} @else {
  <div class="skeleton-table">
    @for (i of ' '.repeat(20); track $index) {
      <p-skeleton borderRadius="16px"/>
    }
  </div>
}
