<p-table
  [value]="specimens()"
  dataKey="id"
  [scrollable]="true"
  scrollHeight="flex"
  [resizableColumns]="true"
  stripedRows
  showGridlines>
  <ng-template #header>
    <tr>
      <th pFrozenColumn>
        <p-checkbox [ngModel]="isAllSpecimensSelected()" binary="true" (onChange)="toogleAllSpecimens()" />
      </th>
      @for (column of columns(); track column.position) {
        <th>{{ column.displayName }}</th>
      }
    </tr>
  </ng-template>
  <ng-template #body let-specimen>
    <tr>
      <td pFrozenColumn>
        <p-checkbox [ngModel]="this.selectedSpecimens().includes(specimen.id)" binary="true" (onChange)="toogleSelect(specimen.id)" />
      </td>
      @for (column of columns(); track column.position) {
        <td>{{ specimen.data[column.jsonName] }}</td>
      }
    </tr>
  </ng-template>
</p-table>
