<p-table [value]="specimens" [scrollable]="true" scrollHeight="flex">
    <ng-template #header>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Company</th>
            <th>Representative</th>
        </tr>
    </ng-template>
    <ng-template #body let-specimen>
        <tr>
            <td>{{specimen.id}}</td>
            <td>{{specimen.name}}</td>
            <td>{{specimen.name}}</td>
            <td>{{specimen.name}}</td>
        </tr>
    </ng-template>
</p-table>
