<div class="menubar">
  <div class="menu-left">
    <H1 class="menu-item">Lithographe</H1>
    <a class="menu-item" routerLink="/">Inventaire</a>
    <a class="menu-item" routerLink="/settings">Paramètres</a>
  </div>
  <div>
    <p-select
      [options]="this.templatesOptions"
      [ngModel]="this.templateSelected()"
      (onChange)="onChangeTemplate($event)"
      optionLabel = name
      class="w-full md:w-56" />
    <button pButton pRipple severity="success" (click)="createLabels()">
      <span class="pi pi-play"></span>
      <span pButtonLabel>Créer étiquettes</span>
    </button>
  </div>
</div>
